
body {
  background: rgba(240, 240, 240, 0.8);
}

.navbar-place {
  height: 72px;
}

.container-gap {
  margin-bottom: 24px;
}

.red-text {
  color: #F00;
}

.mb12 {
  margin-bottom: 12px;
}

.btn-return {
  margin-bottom: 1rem;
}

.evlink {
  border: 1px solid #eee;
  background: #aaa;
  color: #FFF;
  padding: 8px 16px;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.evtitle {
  font-weight: 500;
  line-height: 1.2;
  font-size: 1rem;
}

.evimage {
  margin-bottom: 1.5rem;
}

footer {
  padding: 8px 0;
}